<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ToDoList</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item m-1">
          <button type="button" (click)="SortByDate()" class="btn btn-primary">Sort by date</button>
        </li>
        <li class="nav-item m-1">
          <button type="button" (click)="SortByName()" class="btn btn-primary">Sort by name</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-event-create (createEvent)="createEvent($event)"></app-event-create>
<ul>
  @if(!events || events.length == 0) {
    <p>User list is empty!</p>
  } @else { @for (i of events; track i.id) {
    <li app-event-element [event]="i" (deleteEvent)="deleteEvent($event)"></li>
  } }
</ul>


