<h2>Create New Event</h2>
<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <label>
        <span>Text: </span>
        <input type="text" formControlName="text">
    </label>
    <label>
        <span>Important: </span>
        <input type="checkbox" formControlName="important">
    </label>
    <label>
        <span>Date: </span>
        <input type="date" formControlName="date">
    </label>
    
    <div class="col-2">
        <button type="reset">Cancel</button>
        <button type="submit">Create</button>
    </div>
</form>
