<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="mb-3 m-1">
      <label for="inputText" class="form-label">Text</label>
      <input type="text" class="form-control" id="inputText" formControlName="text">
    </div>
    <div class="mb-3 m-1">
        <label for="inputDate" class="form-label">Date</label>
        <input type="date" class="form-control" id="inputDate" formControlName="date">
    </div>

    <div class="mb-3 form-check m-1">
      <input type="checkbox" class="form-check-input" id="checkImportant">
      <label class="form-check-label" for="checkImportant">Important</label>
    </div>
        <button type="reset" class="btn btn-primary m-1">Cancel</button>
        <button type="submit" class="btn btn-primary m-1">Submit</button>
  </form>
