.done {
    background-color: rgb(226, 226, 226);
    list-style: inside url(materials/check2-square.svg);
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}



.delete-button {
    font-size: 20px;
    color: darkred;
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}


.deadline {
    background-color: rgb(120, 153, 164);
    color: white;
    border-radius: 3px;
    padding: 2px 4px;
}

.important::before {
    content: "!";
    margin: 0 8px;
    color: darkred;
    display: inline-block;
}


li {
    
    padding: 12px;
    padding-left: 40px;
    list-style: inside url(materials/square.svg);
}

.deleteBtn{
    font-size: 20px; 
    color: darkred; 
    background: none; 
    border: none;
    
}



/* li.important::before {
    content: "!";
    margin-right: 8px;
    color: darkred;
    display: inline-block;
}

li .deadline {
    background-color: rgb(120, 153, 164);
    color: white;
    border-radius: 3px;
    padding: 2px 4px;
}

li {
    padding: 12px;
    padding-left: 40px;
}



li.done {
    background-color: rgb(226, 226, 226);
    text-decoration: line-through;
    text-decoration-thickness: 2px;
} */